body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #6563ff;
}

.warper {
  height: 400px;
  width: 400px;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 25px;
}

.card,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 -10px);
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}

.cards .card .view {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25 linear;
}

.card .font-view span {
  color: #6563ff;
  font-size: 40px;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  max-width: 45px;
}

.card:hover .font-view {
  transform: rotateY(180deg);
}

.card:hover .back-view {
  transform: rotateY(0);
}